#root {
  background: #000000a6
}

html {
  background: #000000a6
}

.main, #manifesto{
  padding: 6rem;
}

.main{
  background-image: linear-gradient(25deg, #8593ff, #b8b5d7, #d8d9ac, #efff79);
  border-radius: 16px;
  color: #ffffff;
}

.pitch {
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.pitch-header {
  font-weight: bolder;
}

#manifesto {
  text-align: center;
  background-image: linear-gradient(25deg, #d26c51, #cc787f, #bf85ad, #a992dd);
  border-radius: 16px;
  margin-top: 2rem;
  color: #ffffff;
}

.manifesto-header {
  margin-top: 3rem;
  font-weight: bolder;
}

.manifesto-content{
  margin-top: 2rem;
  text-align: left;
}

#footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
  /* padding: 10rem; */
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon{
  margin: 25px;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
  .main, #manifesto{
    padding: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .main, #manifesto{
    padding: 6rem;
  }
}

@media only screen and (max-width: 414px) {
  .main, #manifesto{
    padding: 2rem;
    text-align: center;
  }
}